body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
    margin: 2em 0;

    .title {
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            margin-top: 0;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        label {
            display: block;
            margin-top: 1rem;
            margin-bottom: 10px;
        }

        .address {
            margin-top: 10px;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        border: 2px solid #5A6F08;
        border-radius: 5px;
        padding: 2em 2em;

        input, fieldset, .dropdown {
            margin-bottom: 2em;
            font-weight: 400;
            font-size: 13.4px;
            
            &::placeholder {
                // color: #555555;
                color: #000;
            }
        }

        input {
            font-family: 'Segoe UI', Arial, sans-serif;
            padding: 1em;
            border: 0;
            border-bottom: solid 2px #EFEFEF;
        }

        .address {
            display: flex;
            flex-direction: column;
        }

        .Dropdown-control {
            border: none;
            border-bottom: solid 2px #EFEFEF;
            font-weight: 400;
            font-size: 13.4px;

            .Dropdown-placeholder {
                color: #000;
                opacity: .5;
            }

            .is-selected {
                color: #000;
                opacity: 1;
            }
        }

        .formButton {
            font-family: 'Segoe UI', Arial, sans-serif;
            font-weight: 700;
            background: #5A6F08;
            border: none;
            border-radius: 10px;
            color: #fff;
            padding: 0.5em;
        }
    }
}

a, .homeLink {
    text-decoration: none;
    border: 2px solid #5A6F08;
    padding: 0.3em;
    border-radius: 5px;
    background: #5A6F08;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s, background 0.3s;

    &:hover {
        background: #fff;
        color: #5A6F08;
    }
}

.employeeList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 1em;
   

    h1 {
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 3px solid #5A6F08;
        border-radius: 5px;
        margin: 1em;
    }
}